@font-face {
  font-family: markpro-bold;
  src: url(../fonts/MarkPro-Bold.otf); }
@font-face {
  font-family: markpro;
  src: url(../fonts/MarkPro.otf); }
body, html {
  width: 100%;
  max-width: 100%;
  font-family: markpro;
  padding: 0px;
  margin: 0px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, div, span, table, tr, td, input, select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.clear {
  clear: both; }

/*# sourceMappingURL=base.css.map */
