
// - - - - - - - - - - - - - - - - - - - - - - - -  //
// - - - - - - -  B A S E . S C S S - - - - - - - -  //
// - - - - - - - - - - - - - - - - - - - - - - - - - //

@font-face { font-family: markpro-bold; src: url(../fonts/MarkPro-Bold.otf); }
@font-face { font-family: markpro; src: url(../fonts/MarkPro.otf); }

$mp-bold : markpro-bold;
$mp-reg : markpro;

$colors: (
  white : #fff,
  black : #23272B, 
  primary-red: #d81b47,
  grey: #8B8F93
);


// - - Functions - -
@function color($color-name) {
  @return map-get($colors, $color-name)
}
body, html {
  width: 100%;
  max-width : 100%;
  font-family: $mp-reg;
  padding : 0px;
  margin : 0px;
  background : color(white);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, div, span, table, tr, td, input, select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.clear {
  clear : both;
}
