@import 'base';

.master-body {
	max-width: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: color(white);

	.login-screen {
		min-height: 100vh;
		&.section-1 {
				
			.section-left {
				width: 60%;
				height: 100%;
				position: relative;
				float:left;

				.box-center {
					display: flex;
					height: 100vh;
					position: relative;
					align-items: center;
					justify-content: center;
				
					.content {
						flex: 1;
						max-width: 450px;
						height: 400px;
						position: relative;

						.logo-master {
							width: 170px;
							margin-left: -10px;
							margin-bottom: 40px;
						}
						.title {
							&.big {
								font-size: 50px;
								color: color(primary-red);
								line-height: 100%;
								letter-spacing: -1px;
								font-family: $mp-bold;
							}
							&.small {
								font-size: 20px;
								color: color(grey);
								margin-top: 15px;
								letter-spacing: -1px;
							}
						}
						.button-frame {
							margin-top: 50px;
							display: flex;

							.btn-1,
							.btn-2 {
								margin-right: 24px;
							}
						}

						.create-meeting-frame {
							position: absolute;
							top: 30%;
							height: 70%;
							background: color(white);
							padding: 0px 40px;
							margin-left: -40px;
							width: 100%;
							visibility: hidden;
							opacity: 0;
							transform: translateY(100px);
							transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
							

							&.active {
								visibility: visible;
								opacity: 1;
								transform: translateY(0px);
								transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);
							}
						}
					}
				}
				
			}

			.section-right {
				float: left;
				position: relative;
				width: 40%;
				min-height: 100vh;
				background: color(primary-red);
				border-top-left-radius: 54px;
				border-bottom-left-radius: 54px;

				.box-left {
					max-width: 550px;
					height: 100vh;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					opacity: 1;

					visibility: visible;
					transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);

					&.hidden {
						visibility: hidden;
						transform: translateY(-100px);
						opacity: 0;
					}
				}
				.box-frame {
					position: relative;
					z-index: 3;

					&.login-button {
						max-width: 320p;;
					}

					.bottom-text {
						width: 100%;
						text-align: center;
						transform: translateY(150px);
						font-family: $mp-reg;
						font-size: 15px;
						color: color(white);
					}
				}

				.hidden-box {
					max-width: 550px;
					width: 100%;
					text-align: center;
					height: 100vh;
					position: absolute;
					left: 0;
					top: 0;
					align-items: center;
					justify-content: center;
					z-index: 4;
					color: color(white);
					display: flex;

					visibility: hidden;
					opacity: 0;
					transform: translateY(-100px);
					transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);

					.text-bottom {
						margin-top: 40px;
						font-family: $mp-reg;
						font-size: 16px;
						opacity: 1;
						cursor: pointer;
						z-index: 2;
					}

					&.login-face {
						flex-direction: column;

						&.active {
							visibility: visible;
							opacity: 1;
							transform: translate(0,0);
						}
			
						.camera-box {
							width: 320px;
							height: 320px;
							position: relative;
							z-index: 2;
							margin-top: 40px;
							border-radius: 58px;
							background: #fff;
							box-shadow: 0 6px 24px rgba(43,39,49,.2);
						}
						.text {
							font-family: $mp-bold;
							z-index: 2;
							font-size: 20px;

							.small {
								font-family: $mp-reg;
								font-size: 16px;
								opacity: .5;
							}
						}
					}

					&.login-userid {
						flex-direction: column;

						&.active {
							visibility: visible;
							opacity: 1;
							transform: translate(0,0);
						}
						
						.white-box {
							border-radius: 58px;
							width: 340px;
							min-height: 340px;
							z-index: 2;

							background: color(white);
							box-shadow: 0 6px 24px rgba(43,39,49,.2);
							color: color(black);

							.inner-padding {
								padding: 40px;
							}
							
						}
					}

					.overlay-back {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 0;
					}
				}
				
				.accent-1 {
					bottom: -30px;
					right: -40px;
					opacity: .6;
				}
			}
		}
	}

	.accent {
		position: absolute;
		z-index: 2;

		&.accent-1 {
			width: 350px;
			height: 300px;
			background: url(../images/accent-1.png);
			background-size: cover;
		}
	}

	.btn {
		padding: 20px 0;
		border-radius: 12px;
		font-family: $mp-bold;
		font-size: 18px;
		cursor: pointer;
		box-sizing: border-box;
		transition: all .32s ease-out;

		&:hover{ 
			transform: scale(1.04) translateY(0px);
			transition: all .15s ease-in-out;
		}
		&.btn-s {
			display: inline-flex;
			padding-left: 40px;
			padding-right: 40px;
		}
		&.btn-l {
			min-width: 250px;
			max-width: 320px;
			text-align: center;
		}
		&.btn-fl {
			width: 100%;
			text-align: center;
		}

		&.white {
			background: color(white);
			color: color(black);
			box-shadow: 0 6px 18px rgba(43,39,49,.25);
		}
		&.primary {
			background: color(primary-red);
			color: color(white);
			box-shadow: 0 6px 18px rgba(43,39,49,.25);
		}
		&.outline-white {
			border: 2px solid color(white);
			color: color(white);
		}
		&.outline-red {
			border: 2px solid color(primary-red);
			color: color(primary-red);
		}
	}
}

.mt-24 {
	margin-top: 24px;
}
.mr-24 {
	margin-right: 24px;
}

.btn-1 {
	border-radius: 10px;
	padding: 18px 42px;
	font-family: $mp-bold;
	font-size: 18px;
	cursor: pointer;
	transition: all .32s ease-out;
	
	&.primary {
		background-color: color(primary-red);
		box-shadow: 0 4px 12px rgba(43,39,49,.25);
		color: color(white);
	}
	&:hover{ 
		transform: scale(1.04) translateY(0px);
		transition: all .15s ease-in-out;
	}
}

.btn-2 {
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 4px 12px rgba(43,39,49,.25);
	background: #fff;
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
	transition: all .32s ease-out;

	&:hover{ 
		transform: scale(1.04) translateY(0px);
		transition: all .15s ease-in-out;
	}
	img {
		width: 80%;
	}
	&.facebook {
		background: #3B5598;
	}
	&.google {
		background: #fff;
	}

}

.input-frame-1 {
	position: relative;
	margin-bottom: 25px;

	.title{
		font-family: $mp-reg;
		letter-spacing: 3.2px;
		font-size: 12px;
		color: color(gray);
		text-align: left;
		text-transform: uppercase;
		padding-bottom: 5px;
	}
	.input {
		width: 100%;
		border: none;
		background: none;
		font-size: 18px;
		padding: 10px 0;
		outline: none;
		font-family: $mp-bold;
		border-bottom: 1px solid #dadada;

		&.large {
			font-size: 28px;
			padding-top: 25px;
		}
	}
}