@font-face {
  font-family: markpro-bold;
  src: url(../fonts/MarkPro-Bold.otf); }
@font-face {
  font-family: markpro;
  src: url(../fonts/MarkPro.otf); }
body, html {
  width: 100%;
  max-width: 100%;
  font-family: markpro;
  padding: 0px;
  margin: 0px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, div, span, table, tr, td, input, select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.clear {
  clear: both; }

.master-body {
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff; }
  .master-body .login-screen {
    min-height: 100vh; }
    .master-body .login-screen.section-1 .section-left {
      width: 60%;
      height: 100%;
      position: relative;
      float: left; }
      .master-body .login-screen.section-1 .section-left .box-center {
        display: flex;
        height: 100vh;
        position: relative;
        align-items: center;
        justify-content: center; }
        .master-body .login-screen.section-1 .section-left .box-center .content {
          flex: 1;
          max-width: 450px;
          height: 400px;
          position: relative; }
          .master-body .login-screen.section-1 .section-left .box-center .content .logo-master {
            width: 170px;
            margin-left: -10px;
            margin-bottom: 40px; }
          .master-body .login-screen.section-1 .section-left .box-center .content .title.big {
            font-size: 50px;
            color: #d81b47;
            line-height: 100%;
            letter-spacing: -1px;
            font-family: markpro-bold; }
          .master-body .login-screen.section-1 .section-left .box-center .content .title.small {
            font-size: 20px;
            color: #8B8F93;
            margin-top: 15px;
            letter-spacing: -1px; }
          .master-body .login-screen.section-1 .section-left .box-center .content .button-frame {
            margin-top: 50px;
            display: flex; }
            .master-body .login-screen.section-1 .section-left .box-center .content .button-frame .btn-1,
            .master-body .login-screen.section-1 .section-left .box-center .content .button-frame .btn-2 {
              margin-right: 24px; }
          .master-body .login-screen.section-1 .section-left .box-center .content .create-meeting-frame {
            position: absolute;
            top: 30%;
            height: 70%;
            background: #fff;
            padding: 0px 40px;
            margin-left: -40px;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            transform: translateY(100px);
            transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1); }
            .master-body .login-screen.section-1 .section-left .box-center .content .create-meeting-frame.active {
              visibility: visible;
              opacity: 1;
              transform: translateY(0px);
              transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1); }
    .master-body .login-screen.section-1 .section-right {
      float: left;
      position: relative;
      width: 40%;
      min-height: 100vh;
      background: #d81b47;
      border-top-left-radius: 54px;
      border-bottom-left-radius: 54px; }
      .master-body .login-screen.section-1 .section-right .box-left {
        max-width: 550px;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1); }
        .master-body .login-screen.section-1 .section-right .box-left.hidden {
          visibility: hidden;
          transform: translateY(-100px);
          opacity: 0; }
      .master-body .login-screen.section-1 .section-right .box-frame {
        position: relative;
        z-index: 3; }
        .master-body .login-screen.section-1 .section-right .box-frame.login-button {
          max-width: 320p; }
        .master-body .login-screen.section-1 .section-right .box-frame .bottom-text {
          width: 100%;
          text-align: center;
          transform: translateY(150px);
          font-family: markpro;
          font-size: 15px;
          color: #fff; }
      .master-body .login-screen.section-1 .section-right .hidden-box {
        max-width: 550px;
        width: 100%;
        text-align: center;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        justify-content: center;
        z-index: 4;
        color: #fff;
        display: flex;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100px);
        transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1); }
        .master-body .login-screen.section-1 .section-right .hidden-box .text-bottom {
          margin-top: 40px;
          font-family: markpro;
          font-size: 16px;
          opacity: 1;
          cursor: pointer;
          z-index: 2; }
        .master-body .login-screen.section-1 .section-right .hidden-box.login-face {
          flex-direction: column; }
          .master-body .login-screen.section-1 .section-right .hidden-box.login-face.active {
            visibility: visible;
            opacity: 1;
            transform: translate(0, 0); }
          .master-body .login-screen.section-1 .section-right .hidden-box.login-face .camera-box {
            width: 320px;
            height: 320px;
            position: relative;
            z-index: 2;
            margin-top: 40px;
            border-radius: 58px;
            background: #fff;
            box-shadow: 0 6px 24px rgba(43, 39, 49, 0.2); }
          .master-body .login-screen.section-1 .section-right .hidden-box.login-face .text {
            font-family: markpro-bold;
            z-index: 2;
            font-size: 20px; }
            .master-body .login-screen.section-1 .section-right .hidden-box.login-face .text .small {
              font-family: markpro;
              font-size: 16px;
              opacity: .5; }
        .master-body .login-screen.section-1 .section-right .hidden-box.login-userid {
          flex-direction: column; }
          .master-body .login-screen.section-1 .section-right .hidden-box.login-userid.active {
            visibility: visible;
            opacity: 1;
            transform: translate(0, 0); }
          .master-body .login-screen.section-1 .section-right .hidden-box.login-userid .white-box {
            border-radius: 58px;
            width: 340px;
            min-height: 340px;
            z-index: 2;
            background: #fff;
            box-shadow: 0 6px 24px rgba(43, 39, 49, 0.2);
            color: #23272B; }
            .master-body .login-screen.section-1 .section-right .hidden-box.login-userid .white-box .inner-padding {
              padding: 40px; }
        .master-body .login-screen.section-1 .section-right .hidden-box .overlay-back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0; }
      .master-body .login-screen.section-1 .section-right .accent-1 {
        bottom: -30px;
        right: -40px;
        opacity: .6; }
  .master-body .accent {
    position: absolute;
    z-index: 2; }
    .master-body .accent.accent-1 {
      width: 350px;
      height: 300px;
      background: url(../images/accent-1.png);
      background-size: cover; }
  .master-body .btn {
    padding: 20px 0;
    border-radius: 12px;
    font-family: markpro-bold;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all .32s ease-out; }
    .master-body .btn:hover {
      transform: scale(1.04) translateY(0px);
      transition: all .15s ease-in-out; }
    .master-body .btn.btn-s {
      display: inline-flex;
      padding-left: 40px;
      padding-right: 40px; }
    .master-body .btn.btn-l {
      min-width: 250px;
      max-width: 320px;
      text-align: center; }
    .master-body .btn.btn-fl {
      width: 100%;
      text-align: center; }
    .master-body .btn.white {
      background: #fff;
      color: #23272B;
      box-shadow: 0 6px 18px rgba(43, 39, 49, 0.25); }
    .master-body .btn.primary {
      background: #d81b47;
      color: #fff;
      box-shadow: 0 6px 18px rgba(43, 39, 49, 0.25); }
    .master-body .btn.outline-white {
      border: 2px solid #fff;
      color: #fff; }
    .master-body .btn.outline-red {
      border: 2px solid #d81b47;
      color: #d81b47; }

.mt-24 {
  margin-top: 24px; }

.mr-24 {
  margin-right: 24px; }

.btn-1 {
  border-radius: 10px;
  padding: 18px 42px;
  font-family: markpro-bold;
  font-size: 18px;
  cursor: pointer;
  transition: all .32s ease-out; }
  .btn-1.primary {
    background-color: #d81b47;
    box-shadow: 0 4px 12px rgba(43, 39, 49, 0.25);
    color: #fff; }
  .btn-1:hover {
    transform: scale(1.04) translateY(0px);
    transition: all .15s ease-in-out; }

.btn-2 {
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(43, 39, 49, 0.25);
  background: #fff;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: all .32s ease-out; }
  .btn-2:hover {
    transform: scale(1.04) translateY(0px);
    transition: all .15s ease-in-out; }
  .btn-2 img {
    width: 80%; }
  .btn-2.facebook {
    background: #3B5598; }
  .btn-2.google {
    background: #fff; }

.input-frame-1 {
  position: relative;
  margin-bottom: 25px; }
  .input-frame-1 .title {
    font-family: markpro;
    letter-spacing: 3.2px;
    font-size: 12px;
    color: #8B8F93;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .input-frame-1 .input {
    width: 100%;
    border: none;
    background: none;
    font-size: 18px;
    padding: 10px 0;
    outline: none;
    font-family: markpro-bold;
    border-bottom: 1px solid #dadada; }
    .input-frame-1 .input.large {
      font-size: 28px;
      padding-top: 25px; }

/*# sourceMappingURL=main.css.map */
