@font-face {
  font-family: markpro-bold;
  src: url(../fonts/MarkPro-Bold.otf); }
@font-face {
  font-family: markpro;
  src: url(../fonts/MarkPro.otf); }
*, *::after, *::before {
  box-sizing: border-box; }

body, html {
  width: 100%;
  max-width: 100%;
  font-family: markpro;
  padding: 0px;
  margin: 0px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, div, span, table, tr, td, input, select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.clear {
  clear: both; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12.5px;
  margin-left: -12.5px; }

.col-lg-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-12,
.col-md-auto, .col-md-1, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px; }

@media (min-width: 992px) {
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media (min-width: 992px) {
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
.d-flex {
  display: flex; }

.fd-col {
  flex-direction: column !important; }

.fd-row {
  flex-direction: row !important; }

.jc-between {
  justify-content: space-between; }

.jc-center {
  justify-content: center; }

.jc-end {
  justify-content: flex-end; }

.ml-auto {
  margin-left: auto !important; }

.ai-center {
  align-items: center; }

.ai-end {
  align-items: flex-end !important; }

.mt-24 {
  margin-top: 24px; }

.mt-48 {
  margin-top: 48px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-60 {
  margin-bottom: 60px; }

.mt-5,
.my-5 {
  margin-top: 1.25rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 1.25rem !important; }

.mr-24 {
  margin-right: 24px; }

.pd-all-40 {
  padding: 40px; }

.flex-center {
  display: flex;
  flex-direction: column; }

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2.25rem; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: -.5px;
  line-height: 1.2; }

h1, .h1 {
  font-size: 2rem; }

@media (max-width: 1200px) {
  h1, .h1 {
    font-size: calc(1.325rem + 0.9vw); } }
h2, .h2 {
  font-size: 1.75rem; }

@media (max-width: 1200px) {
  h2, .h2 {
    font-size: calc(1.3rem + 0.6vw); } }
h3, .h3 {
  font-size: 1.5rem; }

@media (max-width: 1200px) {
  h3, .h3 {
    font-size: calc(1.275rem + 0.3vw); } }
h4, .h4 {
  font-size: 1.35rem; }

@media (max-width: 1200px) {
  h4, .h4 {
    font-size: calc(1.26rem + 0.12vw); } }
h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1.175rem; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto; } }
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px; } }
.tooltip-text {
  font-size: 12px;
  color: #667fad; }
  .tooltip-text span {
    color: #d81b47; }

.font-bold {
  font-family: markpro-bold; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.text-align-center {
  text-align: center;
  align-self: center; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: all .4s ease-out; }
  .modal.active {
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible;
    transform: translateY(0);
    transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1); }
  .modal .modal-dialog {
    margin: 2rem auto; }
    .modal .modal-dialog.modal-dialog-centered {
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-height: calc(100% - 3.5rem); }
  .modal .modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    background: #fff;
    color: #23272B; }
    .modal .modal-content.black {
      background: #0e1826;
      color: #fff; }
    .modal .modal-content .modal-header {
      justify-content: space-between;
      padding: 1.5rem 1.75rem;
      align-items: center;
      border-bottom: 1px solid #1b2e4b;
      display: flex; }
      .modal .modal-content .modal-header .modal-title {
        margin-bottom: 0;
        line-height: 1.5; }
      .modal .modal-content .modal-header .close-button {
        font-size: 25px;
        cursor: pointer;
        opacity: .4;
        transition: all .32s ease-out; }
        .modal .modal-content .modal-header .close-button:hover {
          opacity: 1;
          transition: all .2s ease-out; }
    .modal .modal-content .modal-body {
      position: relative;
      flex: 1 1 auto;
      padding: 1.75rem; }
    .modal .modal-content .modal-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      padding: 1.5rem;
      border-top: 1px solid #1b2e4b; }
      .modal .modal-content .modal-footer > * {
        margin: 0.25rem; }

.form-group {
  margin-bottom: 1.75rem; }
  .form-group label {
    font-size: 1rem;
    display: block; }
  .form-group .form-control {
    display: block;
    width: 100%;
    background-clip: padding-box;
    font-family: markpro;
    border: none;
    border: 1px solid #1b2e4b;
    font-size: 16px;
    padding: 10px 12px;
    outline: none;
    border-radius: 8px;
    margin-top: 12px;
    color: #fff; }
    .form-group .form-control.solid {
      background: #1b2e4b; }

.separator {
  height: 0; }
  .separator.separator-dashed {
    border-bottom: 1px dashed #1b2e4b; }

.btn-1 {
  border-radius: 10px;
  padding: 18px 42px;
  font-family: markpro-bold;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all .32s ease-out; }
  .btn-1.primary {
    background-color: #d81b47;
    box-shadow: 0 4px 12px rgba(43, 39, 49, 0.25);
    color: #fff; }
  .btn-1:hover {
    transform: scale(1.04) translateY(0px);
    transition: all .15s ease-in-out; }
  @media (min-width: 680px) and (max-width: 1080px) {
    .btn-1 {
      padding: 18px 20px;
      font-size: 18px;
      line-height: 100%;
      overflow-wrap: anywhere; } }

.btn-2 {
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(43, 39, 49, 0.25);
  background: #fff;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: all .32s ease-out; }
  .btn-2:hover {
    transform: scale(1.04) translateY(0px);
    transition: all .15s ease-in-out; }
  .btn-2 img {
    width: 80%; }
  .btn-2.facebook {
    background: #3B5598; }
  .btn-2.google {
    background: #fff; }

.input-frame-1 {
  position: relative;
  margin-bottom: 25px; }
  .input-frame-1 .title {
    font-family: markpro;
    letter-spacing: 3.2px;
    font-size: 12px;
    color: #667fad;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .input-frame-1 .input {
    width: 100%;
    border: none;
    background: none;
    font-size: 18px;
    padding: 10px 0;
    outline: none;
    font-family: markpro-bold;
    border-bottom: 1px solid #dadada; }
    .input-frame-1 .input.large {
      font-size: 28px;
      padding-top: 25px; }
  .input-frame-1.black {
    color: #fff; }

.input-frame-2 {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 15px; }
  .input-frame-2.border-bottom {
    padding-bottom: 24px;
    margin-bottom: 8px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15); }
  .input-frame-2 .title {
    font-family: markpro;
    letter-spacing: 3.2px;
    font-size: 12px;
    color: #667fad;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .input-frame-2 .input {
    width: calc(100% - 24px);
    font-family: markpro;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    padding: 10px 12px;
    outline: none;
    border-radius: 8px;
    margin-top: 12px;
    color: #fff; }
    .input-frame-2 .input.large {
      height: 100px;
      resize: none; }

.select-parent-frame {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding-top: 17px; }

.select-frame {
  position: relative;
  font-family: markpro;
  margin: 0 10px; }
  .select-frame:last-child {
    margin-right: 0 !important; }
  .select-frame:first-child {
    margin-left: 0 !important; }
  .select-frame select {
    display: none;
    /*hide original SELECT element:*/ }
  .select-frame.sm-4 {
    max-width: calc((100% - 60px) / 4);
    flex-grow: 4; }
  .select-frame .select-selected {
    background-color: #1b2e4b; }
    .select-frame .select-selected:after {
      position: absolute;
      content: "";
      top: 18px;
      right: 16px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent; }
    .select-frame .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 18px; }
  .select-frame .select-items div,
  .select-frame .select-selected {
    color: #ffffff;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none; }
  .select-frame .select-selected {
    border-radius: 6px;
    display: flex; }
  .select-frame .select-items {
    position: absolute;
    background-color: #1b2e4b;
    top: 96%;
    left: 0;
    right: 0;
    z-index: 99;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all .2s ease-out;
    max-height: 250px;
    overflow-y: scroll;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
    .select-frame .select-items::-webkit-scrollbar {
      width: 5px;
      background: transparent; }
    .select-frame .select-items::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px; }
  .select-frame .select-hide {
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: all .32s ease-out; }
  .select-frame .select-items div:hover, .select-frame .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1); }

.radio-parent-frame {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding-top: 16px; }

.radio-frame {
  display: flex;
  position: relative;
  padding-left: 28px;
  margin-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  .radio-frame input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .radio-frame .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    transition: all .32s ease-out; }
  .radio-frame:hover input ~ .checkmark {
    transition: all .2s ease-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); }
  .radio-frame input:checked ~ .checkmark {
    background-color: #2196F3; }
  .radio-frame .checkmark:after {
    content: "";
    position: absolute;
    visibility: hidden;
    transform: scale(0.9);
    opacity: 0;
    transition: all .2s ease-out; }
  .radio-frame input:checked ~ .checkmark:after {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    transition: all .1s ease-out; }
  .radio-frame .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white; }

.form-small-group {
  display: flex;
  padding-right: 20px; }

.checkbox-parent-frame {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding-top: 10px; }

.checkbox-frame {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 16px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  .checkbox-frame input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-frame .checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #eee;
    transition: all .32s ease-out; }
  .checkbox-frame:hover input ~ .checkmark {
    transition: all .2s ease-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); }
  .checkbox-frame input:checked ~ .checkmark {
    background-color: #2196F3; }
  .checkbox-frame .checkmark:after {
    content: "";
    position: absolute;
    visibility: visible;
    transform: scale(0.9);
    opacity: 0;
    transition: all .2s ease-out; }
  .checkbox-frame input:checked ~ .checkmark:after {
    visibility: visible;
    transform: scale(1) rotate(45deg);
    opacity: 1;
    transition: all .1s ease-out; }
  .checkbox-frame .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.btn {
  outline: none !important;
  text-align: center;
  padding: 0.65rem 1rem;
  border-radius: 6px;
  font-family: markpro-bold;
  font-size: 17px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all .32s ease-out; }
  .btn:hover {
    transform: scale(1.04) translateY(0px);
    transition: all .15s ease-in-out; }
  .btn.btn-s {
    padding-left: 40px;
    padding-right: 40px; }
  .btn.btn-xs {
    font-size: 15px;
    font-family: markpro;
    padding: 15px; }
  .btn.btn-xxs {
    font-size: 15px;
    font-family: markpro;
    padding: 15px 30px;
    display: inline-flex; }
  .btn.btn-l {
    min-width: 250px;
    max-width: 320px;
    text-align: center; }
  .btn.btn-fl {
    width: 100%;
    text-align: center; }
  .btn.white {
    background: #fff;
    color: #23272B;
    box-shadow: 0 6px 18px rgba(43, 39, 49, 0.25); }
  .btn.gray {
    color: #667fad; }
    .btn.gray i {
      font-size: 14px;
      transform: translateY(2px); }
  .btn.light-primary {
    color: #fff;
    background: #667fad; }
  .btn.primary {
    background: #d81b47;
    border-color: #d81b47;
    color: #fff;
    box-shadow: 0 6px 18px rgba(43, 39, 49, 0.25); }
  .btn.outline-white {
    border: 2px solid #fff;
    color: #fff; }
  .btn.outline-red {
    border: 2px solid #d81b47;
    color: #d81b47; }
  @media (min-width: 680px) and (max-width: 1080px) {
    .btn {
      padding-right: 20px;
      padding-left: 20px;
      font-size: 16px; }
      .btn.btn-l {
        min-width: 120px; } }

.popup-overlay {
  background: #494b5a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all .3s ease-out; }
  .popup-overlay.active {
    opacity: .75;
    visibility: visible;
    transform: scale(1);
    transition: all .2s ease-out; }

.popup-master {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: all .4s ease-out; }
  .popup-master.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1); }
  .popup-master .body {
    align-items: center;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    align-content: center;
    width: 90%; }
    .popup-master .body.small {
      max-width: 500px; }
    .popup-master .body.medium {
      max-width: 700px;
      max-height: 82vh;
      overflow-y: scroll; }
      .popup-master .body.medium::-webkit-scrollbar {
        width: 6px;
        background: transparent; }
      .popup-master .body.medium::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px; }
    .popup-master .body .title-top {
      font-size: 32px;
      padding-top: 30px;
      padding-bottom: 30px;
      letter-spacing: -.5px; }
      .popup-master .body .title-top span {
        font-family: markpro-bold; }
    .popup-master .body .submit-button {
      display: flex;
      align-self: center; }
    .popup-master .body .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 25px;
      opacity: .4;
      cursor: pointer;
      transition: all .32s ease-out; }
      .popup-master .body .close-button:hover {
        opacity: 1;
        transition: all .2s ease-out; }
  .popup-master.black .body {
    background: #0e1826;
    color: #fff; }

/*# sourceMappingURL=component.css.map */
