@import 'base';
@import 'component';

.master-body {
	max-width: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: color(white);

	&.meeting-screen {
		background: color(black-2);
	}

	.login-screen {
		min-height: 100vh;
		
		.section-left {
			width: 60%;
			height: 100%;
			position: relative;
			float:left;

			.box-center {
				display: flex;
				height: 100vh;
				position: relative;
				align-items: center;
				justify-content: center;
			
				.content {
					flex: 1;
					max-width: 450px;
					height: 400px;
					position: relative;

					.logo-master {
						width: 170px;
						margin-left: -10px;
						margin-bottom: 40px;
					}
					.title {
						&.big {
							font-size: 50px;
							color: color(primary-red);
							line-height: 100%;
							letter-spacing: -1px;
							font-family: $mp-bold;
						}
						&.small {
							font-size: 20px;
							color: color(grey);
							margin-top: 15px;
							letter-spacing: -1px;
						}
					}
					.button-frame {
						margin-top: 50px;
						display: flex;
						align-items: center;

						.btn-1,
						.btn-2 {
							margin-right: 24px;
						}

						@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
							
							.btn-1,
							.btn-2 {
								margin-right: 16px;
							}
						}
					}

					.create-meeting-frame {
						position: absolute;
						top: 30%;
						height: 70%;
						background: color(white);
						padding: 0px 40px;
						margin-left: -40px;
						width: 100%;
						visibility: hidden;
						opacity: 0;
						transform: translateY(100px);
						transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
						

						&.active {
							visibility: visible;
							opacity: 1;
							transform: translateY(0px);
							transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);
						}
					}
				}
			}

		}

		.section-right {
			float: left;
			position: relative;
			width: 40%;
			min-height: 100vh;
			background: color(primary-red);
			border-top-left-radius: 54px;
			border-bottom-left-radius: 54px;

			.box-left {
				max-width: 550px;
				height: 100vh;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 1;

				visibility: visible;
				transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);

				&.hidden {
					visibility: hidden;
					transform: translateY(-100px);
					opacity: 0;
				}
			}
			.box-frame {
				position: relative;
				z-index: 3;

				&.login-button {
					max-width: 320px;
				}

				.bottom-text {
					width: 100%;
					text-align: center;
					transform: translateY(150px);
					font-family: $mp-reg;
					font-size: 15px;
					color: color(white);
				}
			}

			.hidden-box {
				max-width: 550px;
				width: 100%;
				text-align: center;
				height: 100vh;
				position: absolute;
				left: 0;
				top: 0;
				align-items: center;
				justify-content: center;
				z-index: 4;
				color: color(white);
				display: flex;

				visibility: hidden;
				opacity: 0;
				transform: translateY(-100px);
				transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);

				.text-bottom {
					margin-top: 40px;
					font-family: $mp-reg;
					font-size: 16px;
					opacity: 1;
					cursor: pointer;
					z-index: 2;
				}

				&.login-face {
					flex-direction: column;

					&.active {
						visibility: visible;
						opacity: 1;
						transform: translate(0,0);
					}
		
					.camera-box {
						width: 320px;
						height: 320px;
						position: relative;
						z-index: 2;
						margin-top: 40px;
						border-radius: 58px;
						background: #fff;
						box-shadow: 0 6px 24px rgba(43,39,49,.2);
					}
					.text {
						font-family: $mp-bold;
						z-index: 2;
						font-size: 20px;

						.small {
							font-family: $mp-reg;
							font-size: 16px;
							opacity: .5;
						}
					}
				}

				&.login-userid {
					flex-direction: column;
					justify-content: center;

					&.active {
						visibility: visible;
						opacity: 1;
						transform: translate(0,0);
					}
					
					.white-box {
						border-radius: 58px;
						width: 340px;
						min-height: 340px;
						z-index: 2;

						background: color(white);
						box-shadow: 0 6px 24px rgba(43,39,49,.2);
						color: color(black);

						.inner-padding {
							padding: 40px;
						}
						
					}
				}

				.overlay-back {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
				}
			}
			
			.accent-1 {
				bottom: -30px;
				right: -40px;
				opacity: .6;
			}
		}

		@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
			
			min-height: 500px;

			.section-left {
				
				.box-center {

					.content {
						height: auto;
						max-width: 75%;
						align-self: center;

						.logo-master {
							width: 100px;
						}
						.title {
							&.big {
								font-size: 38px;
							}
							&.small {
								font-size: 17px;
							}
						}
					}
				}
			}
			.section-right {
				display: flex;
				justify-content: center;

				.box-left {
					width: 80%;
					align-self: center;
				}

				.hidden-box {
					width: 80%;
					left: 10%;

					.text-bottom {
						font-size: 13px;
					}
					&.login-face {

						.camera-box {
							width: 250px;
							height: 250px;
							border-radius: 40px;
						}
						.text {
							font-size: 17px;

							.small {
								font-size: 14px;
							}
						}
					}
					&.login-userid {

						.white-box {
							border-radius: 40px;
							width: 100%;
							min-height: 250px;
						}
					}
				}
			}
		}
	}

	.login-screen-2 {
		min-height: 100vh;
		background: color(black-2);

		.splash-frame {
			width: 100%;
			height: 100vh;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			.center {
				display: flex;
				flex-direction: column;
				max-width: 260px;
				width: calc(100% - 60px);
				padding: 0 30px;
				position: relative;
				transform: translateY(-10px);

				.logo {
					margin-bottom: 30px;
					text-align: center;

					img {
						width: 60%;
					}
				}
			}
		}

		.hidden-frame {
			position: absolute;
			width: 100%;
			height: 100%;
			visibility: hidden;
			opacity: 0;
			transform: translateY(-50px);
			transition: all .32s ease-out;
			z-index: 5;
			display: flex;
			justify-content: center;
			align-content: center;
			top: 0;
			left: 0;
			background: color(black-2);

			&.active {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
			}

			&.login {
				margin-top: 20px;
			}
			.center {
				max-width: 550px;
				width: calc(100% - 60px);
				padding: 30px;
				align-self: center;

				.title {
					font-size: 28px;
					color: color(white);
					font-family: $mp-bold;
					margin-bottom: 20px;
				}
				.d-flex {
					display: flex;
				}
				.left-frame {
					flex-grow: 2.5;
					border-right: 1px solid color(black-3);
					position: relative;
					padding-right: 30px;
				}
				.right-frame {
					position: relative;
					padding-left: 30px;
					display: flex;

					.middle {
						align-self: flex-start;
					}
					.small-title {
						font-size: 14px;
						color: color(grey-2);
						padding-bottom: 20px;
					}
					.btn-2 {
						display: inline-flex;
						margin-right: 10px;
					}
				}
			}

		}

		.accent-1 {
			bottom: -4vh;
			right: -4vw;
			opacity: .2;
		}
	}

	.dashboard-screen {
		min-height: 100vh;
		position: relative;
		
		.center-frame {
			max-width: 1400px;
			position: relative;
			margin: 0 auto;
			min-height: 100vh;

			.inner-frame {
				width: 100%;
				height: calc(100vh - 80px);
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

				.middle-frame {
					height: 100px;
					width: 100%;
					max-width: 900px;
					display: flex;

					.middle-frame-in {
						flex: 1;
						align-items: center;
						justify-content: center;
						flex-direction: column;

						&.button-frame {
							display: flex;
							text-align: center;
							justify-content: center;
							position: relative;
	
							.button-inner-frame {
								width:90%;
								position: relative;
							}

							.dashboard-button {
								margin: 32px;
								float: left;
								cursor: pointer;

								.icon {
									width: 110px;
									height: 110px;
									border-radius: 24px;
									background: color(blue);
									box-shadow: 0 6px 18px rgba(43,118,238,0.4);
									display: flex;
									justify-content: center;
									align-items: center;
									transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);

									&:hover {
										transform: translateY(-10px);
										box-shadow: 0 8px 26px rgba(43,118,238,0.7);
										transition: all .2s ease-out;
									}
									
									&.orange {
										background: color(orange);
										box-shadow: 0 6px 18px rgba(255,116,46 ,0.4);
										transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
									}
									&.orange:hover {
										transform: translateY(-10px);
										box-shadow: 0 8px 26px rgba(255,116,46 ,0.7);
										transition: all .2s ease-out;
									}
									
									img {
										width: 50%;
									}
								} 
								.text {
									padding-top: 20px; 
								}
							}
						}

						&.reminder-frame {
							display: flex;
							align-items: flex-start;
							justify-content: center;
							position: relative;
							letter-spacing: -0.5px;

							> .inner-padding {
								padding-left: 30px;
							}

							.text-frame {

								.title-big {
									font-size: 34px;

									span {
										font-family: $mp-bold;
									}
								}
								.title-date {
									margin-top: 10px;
									color: color(gray);
									font-size: 18px;
								}
							}

							.reminder-box {
								min-height: 250px;
								min-width: 100%;
								border: 2px solid #D7D7D7;
								border-radius: 16px;
								position: relative;
								margin-top: 60px;

								.empty-message {
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									color: color(grey);
								}
							}
						}
					}

					
				}
			}

		}

		&.dark-theme {
			background: color(black-2);

			.dashboard-button {
				color: color(white);
				
				.icon {
					box-shadow: 0 6px 18px rgba(55,55,55,0.4) !important;
					
					&:hover {
						box-shadow: 0 8px 26px rgba(43,118,238,0.4) !important; 
					}
				}
				.icon.orange {
					box-shadow: 0 6px 18px rgba(55,55,55,0.4) !important;
					
					&:hover {
						box-shadow: 0 6px 18px rgba(255,116,46 ,0.4) !important; 
					}
				}
			}

			.reminder-frame {
				color: color(white);

				.title-date {
					color: color(grey-2);
				}
				.reminder-box {
					border-color: color(black-3) !important;
				}
			}

			.dashboard-navbar {
				background: color(navbar-black-bg);

				.left-frame {
					.master-logo.white {
						visibility: hidden;
						display: none;
					}
					.master-logo.dark {
						visibility: visible;
						display: block;
					}
				}

				.middle-frame {

					.icon-box {
						color: color(grey-2);

						&:hover {
							color: color(white);
						}
					}
				}
				.right-frame {

					.status-dot {
						border-color: color(navbar-black-bg);
					}
				}
			}
		}
	}

	.dashboard-navbar {
		width: calc(100% - 80px);
		height: 80px;
		border-bottom-right-radius: 24px;
		border-bottom-left-radius: 24px;
		box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
		margin: 0 auto;
		position: relative;
		background: color(navbar-black-bg);
		display: flex;
		justify-content: space-between;

		> .padding {
			flex: 1;
			padding: 0 30px;
			display: flex;
			justify-content: space-between;
		}
		.left-frame {
			position: relative;
			align-self: center;
			display: flex
		}

		.master-logo {
			width: 82px;

			&.dark {
				display: none;
			}
		}

		.middle-frame {
			position: relative;
			align-self: center;
			display: flex;

			.icon-box {
				margin: 0 20px;
				transition: all .6s ease-out;
				color: color(gray);
				cursor: pointer;

				&:hover {
					color: color(black);
					transition: all .2s ease-out;

					.text{
						transform: translateY(4px);
						transition: all .2s ease-out;
					}
				}
				
				.icon {
					width: 100%;
					text-align: center;
					margin-bottom: 8px;

					i {
						font-size: 20px;
					}
				}
				.text {
					width: 100%;
					text-align: center;
					letter-spacing: -0.3px;
					font-size: 14px;
					transition: all .4s ease-out;
				}
			}
		}

		.right-frame {
			position: relative;
			align-self: center;
			display: flex;

			.profile-pict {
				
				position: relative;

				img {
					width: 40px;
					height: 40px;
					border-radius: 12px;
					z-index: 1;
				}

				.status-dot {
					width: 14px;
					height: 14px;
					border-radius: 50%;
					background: #fff;
					position: absolute;
					right: -5px;
					top: -5px;
					z-index: 2;
					border: 3px solid color(navbar-bg);

					&.green {
						background: color(green);
					}
				}
			}
		}
	}

	.meeting-screen {
		min-height: 100vh;
		position: relative;
		transition: all .32s ease-out;
		width: calc(100%);

		&.sidebar-active {
			width: calc(100% - 320px);
			transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
		}

		.top-screen-frame {
			width: 100%;
			height: calc(100vh - 88px);
			padding: 40px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 2;

			.top-button {
				position: absolute;
				right: 12px;
				top: 0;
				z-index: 3;

				.button-box {
					margin: 8px 2px;
					background: rgba(22,22,22,0.7);
					border-radius: 6px;
					color: color(white);
					font-size: 13px;
					display: inline-flex;
					padding: 8px 15px;
					align-items: center;
					cursor: pointer;
					transition: all .4s ease-out;
					border: 1px solid #323338;

					&:hover {
						background: rgba(22,22,22,.85);
						border-color: #4a4a4a;
						transition: all .2s ease-out;

					}

					i {
						font-size: 14px;
						margin-right: 8px;
					}

				}
			}

			.screen-counter {
				position: relative;
				z-index: 2;

				&.two {
					flex-wrap: wrap;
					display: flex;
					order: 2;

					.screen-box {
						width: 40vw; 
						height: 26vw;
					}
				}
				&.four {
					max-width: 1080px;
					flex-wrap: wrap;
					display: flex;
					order: 2;
					justify-content: center;
				}
			}
			.screen-box {
				width: 34vw; 
				height: 23vw;
				max-width: 440px;
				max-height: 340px;
				border-radius: 12px;
				overflow: hidden;
				margin: 12px;
				background: color(gray);
				position: relative;

				.video-bg {
					width: 100%;
					height: 100%;
					z-index: 1;
					position: relative;
					
					.stock-image {
						width: 100%;
					}
				}

				.caller-detail {
					font-size: 13px;
					max-width: 250px;
					display: inline-block;
					padding: 10px 20px;
					color: color(white);
					background: rgba(55,55,55,.75);
					position: absolute;
					z-index: 2;
					left: 0;
					bottom: 0;
					letter-spacing: -.5px;
					border-top-right-radius: 12px;
					border-bottom-left-radius: 12px;

					i {
						margin-right: 5px;
						font-size: 13px;
					}
					
					&.muted i {
						color: color(primary-red);
					}
				}
			}
		}

		.bottom-nav-frame{
			width: calc(100% - 80px);
			height: 88px;
			border-top-right-radius: 24px;
			border-top-left-radius: 24px;
			margin: 0 auto;
			position: relative;
			background: color(navbar-black-bg);
			box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);

			display: flex;
			justify-content: space-evenly;
			z-index: 3;

			> .padding {
				flex: 1;
				padding: 0 30px;
				display: flex;
				justify-content: space-between;
			}

			.centering {
				position: relative;
				align-self: center;
				display: flex;
			}

			.left-frame {
				
	
				.smart-menu-trigger {
					width: 48px;
					height: 48px;
					box-shadow: 0px 0px 0px 5px rgba(255,177,41,0.32);
					background: color(yellow);
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: color(white);
					font-size: 26px;
					margin-right: 10px;
				}
			}

			.middle-frame {
				
			}

			.button-nav-box {
				margin: 0 20px;
				transition: all .6s ease-out;
				color: color(white);
				cursor: pointer;
				position: relative;

				&:hover {

					.text{
						opacity: 1;
						transform: translateY(4px);
						transition: all .2s ease-out;
					}
				}

				&.dropdown {

					.dropdown-icon {
						position: absolute;
						top: 10%;
						right: 30%;
						font-size: 15px;
						opacity: .5;
						transform: translate(200%, -10%);
					}
				}

				.icon-frame {
					&:nth-child(2) {
						display: none;	
					}
				}
				&.sharescreen-toggle.active {
					.icon-frame {
						&:nth-child(1) {
							display: none;
						}
						&:nth-child(2) {
							display: block !important;	
						}
					}
				}
				
				.icon {
					width: 100%;
					text-align: center;
					margin-bottom: 8px;

					i {
						margin: 0 4px;
						font-size: 18px;
						opacity: .8;

						&:hover {
							opacity: 1;
							text-shadow: 1px 1px 2px rgba(0,0,0,0.55);
						}
					}
				}
				.text {
					width: 100%;
					text-align: center;
					letter-spacing: -0.3px;
					font-size: 13.2px;
					transition: all .4s ease-out;
					opacity: .8;
				}
			}
		}

	}

	.meeting-screen-sidebar {
		width: 320px;
		position: relative;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0 30px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background: color(navbar-black-bg);
		border-top-left-radius: 24px;
		border-bottom-left-radius: 24px;

		transition: all .32s ease-out;
		transform: translateX(100%);

		&.active {
			transform: translateX(0%);
		}

		.header-title {
			padding-top: 30px;
			padding-bottom: 10px;
			position: relative;

			.title {
				padding: 20px 0px;
				padding-right: 25px;
				font-family: $mp-reg;
				display: inline-flex;
				color: color(grey);

				&.active {
					font-family: $mp-bold;
					color: color(white);
				}

				.number {
					display: inline-block;
					margin-left: 8px;
					color: color(primary-red);

					&.participant {
						color: color(grey);
					}
				}
			}
		}

		.body-content {
			position: relative;
			display: flex;
			height: 100%;

			&.chat {

				flex-direction: column;
				align-content: space-between;
				.conversation-frame {
					position: relative;
					width: 100%;
					height: 100%;
					overflow: hidden;
					overflow-y: scroll;
					
					&::-webkit-scrollbar { 
						width: 4px;
					}
					&::-webkit-scrollbar-track { 
						background: rgba(0,0,0,0);
					}
					&::-webkit-scrollbar-thumb { 
						background: rgba(255,255,255,0.15);
						border-radius: 5px;
						opacity: 0;
					}
				}

				.chat-bubble {
					position: relative;
					display: flex;
					margin: 10px 0px;
					width: 100%;
					
					.profile-pict {
						
						img {
							width: 32px;
							border-radius: 6px;

						}
					}
					.chat-frame {
						padding: 0 10px;
						font-size: 14px;

						.username {
							color: color(white);
							font-family: $mp-bold;
						}
						.chat-body {
							padding: 8px;
							background: color(chat-body);
							border-radius: 12px;
							border-top-left-radius: 2px;
							margin-top: 5px;
							display: inline-flex;
						}
						.timestamp {
							color:color(grey);
							font-size: 11px;
							margin: 2px 5px;
							margin-bottom: 0;
							visibility: hidden;
							transform: translateX(-10px);
							opacity: 0;
							transition: all .2s ease-out
						}
					}

					&.sender {
						flex-direction: row-reverse;

						.chat-frame {
							text-align: right;
							float: right;
							.chat-body {
								text-align: right;
								border-radius: 12px;
								color: color(black);
								background: color(white);
								border-top-right-radius: 2px;
							}
						}
					}

					&:hover {
						.timestamp {
							visibility: visible;
							opacity: 1;
							transition: all .1s ease-out;
							transform: translateX(0);
						}
					}
				}

			}

			&.participant {
				display: flex;
				position: relative;
				flex-direction: column;

				.participant-box {
					margin-bottom: 15px;
					position: relative;
					display: flex;
					align-content: center;
					justify-content: flex-start;
					
					.img-box {
						width: 32px;
						height: 32px;
						border-radius: 6px;
						overflow: hidden;

						img {
							width: 100%;
						}
					}
					.title {
						font-size: 16px;
						font-family: $mp-bold;
						display: flex;
						color: color(white);
						padding-left: 10px;
						align-content: center;

						div {
							display: inline-flex;
							align-items: center;
						}
					}
				}
			}

			&.chat,
			&.participant {
				display: none;
			}
			&.chat.active,
			&.participant.active {
				display: flex;
			}
			
		}

		.chat-message {
			width: 100%;
			padding: 20px 0;

			.body {
				padding: 10px 0px;
				border-radius: 12px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				background: color(black-2);
				padding: 10px;

				.upload-button {
					color: color(grey);
					padding-right: 10px;
					font-size: 16px;
					display: flex;
					width: 20px;
					align-items: center;
					justify-content: flex-start;
					text-shadow: 1px 1px 2px rgba(0,0,0,0.32);
				}
				.submit-button {
					color: color(white);
					width: 35px;
					height: 35px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 16px;
					border-radius: 6px;
					background: color(blue);
					box-shadow: 0 3px 9px rgba(0,0,0,0.32);
				}
			}
			.textarea {
				display: block;
				background: color(black-2);
				color: color(white);
				overflow: hidden;
				overflow-y: scroll;
				resize: none;
				padding: 5px;
				line-height: 20px;
				font-size: 15px;
				max-height: 80px;
				border-radius: 6px;
				width: 180px;
				outline: none;

				&::-webkit-scrollbar { 
					width: 4px;
				}
				&::-webkit-scrollbar-track { 
					background: rgba(0,0,0,0);
				}
				&::-webkit-scrollbar-thumb { 
					background: rgba(255,255,255,0.15);
					border-radius: 5px;;
				}
				&:active {
					outline: none;
				}
			}
			span.textarea[contenteditable]:empty::before {
				content: 'Type your message';
				color: #888;
				display: inline-block;
				border-radius: 12px;
			}
		}
		
		.sidebar-close {
			position: absolute;
			right: 12px;
			top: 12px;
			cursor: pointer;
			color: color(grey);
			font-size: 18px;
			transition: all .32s ease-out;

			&:hover {
				color: color(white);
				transition: all .2s ease-out;
			}
		}
	}

	.single-view-screen {
		min-height: 100v	h;
		background: color(black-2);
		position: relative;
		color: color(white);
		
		.center-frame {
			width: 100%;
			position: relative;
			margin: 0 auto;
			min-height: 100vh;

			.inner-frame {
				width: 100%;
				height: calc(100vh - 80px);
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

			}
		}

		.register-page {
			display: block;
			width: 100%;
			max-width: 420px;
			padding: 0 20px;

			.header {
				margin-top : -20px;
			}
		}
	}
	

	.accent {
		position: absolute;
		z-index: 2;

		&.accent-1 {
			width: 350px;
			height: 300px;
			background: url(../images/accent-1.png);
			background-size: cover;

		}

		@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
			&.accent-1 {
				transform: scale(0.7);
				transform-origin: bottom right;
			}
		}
	}

}